.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ant-layout-header .header-lf {
  display: flex;
  align-items: center;
}
.ant-layout-header .header-lf .collapsed {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-layout-header .header-ri {
  display: flex;
  align-items: center;
}
.ant-layout-header .header-ri .icon-style {
  margin-right: 22px;
  font-size: 19px;
  line-height: 19px;
  cursor: pointer;
}
.ant-layout-header .header-ri .username {
  margin: 0 20px 0 0;
  font-size: 15px;
}
.ant-layout-header .header-ri .ant-avatar {
  cursor: pointer;
}
.theme-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
.theme-item span {
  font-size: 14px;
}
.theme-item .ant-switch {
  width: 46px;
}
.divider {
  margin: 0 0 22px !important;
  font-size: 15px !important;
}
.divider .anticon {
  margin-right: 10px;
}
.ant-divider-with-text::before,
.ant-divider-with-text::after {
  border-top: 1px solid #dcdfe6 !important;
}
